<style type="text/css">@import "<{$module_url}>javascript/jquery/jquery-datepick/jquery.datepick.css";</style> 
<script type="text/javascript" src="<{$module_url}>javascript/jquery/jquery-datepick/jquery.datepick.js"></script>
<script type="text/javascript" src="<{$module_url}>javascript/jquery/jquery-datepick/jquery.datepick-zh-CN.js"></script>
<script type="text/javascript" src="<{$module_url}>javascript/hotel.js"></script>
<link rel="stylesheet" href="<{$module_url}>css/hotelsearch.css" type="text/css" />
<div class="breadcrums"><span>您所在的位置：</span>首页</div>
<!--结束面包线-->
<div class="blocknh">
<!--新闻-->
<div class="leftblock">
  <div class="hotellist">
     <div class="hoteltitle bookingtitle btop">
		 <div class="lefttitle">更换支付方式</div>   
	    </div>
	 <div class="listclass">
	   <table width="100%" border="0" cellspacing="3" cellpadding="0">
	   <tr>
           <td height="60" colspan="2" bgcolor="#F4FFED" style="padding-left:15px;">本订单原来选择的支付方式为：“招商银行田心支行，帐号名：刘仁，帐号：465465456456”，<br />
             现准备更换支付方式为：</td>
           </tr>
         <tr>
           <td width="26%" height="24">网上支付平台支付</td>
           <td>
               <input value="radiobutton" type="radio" name="radiobutton" />
               财付通
               <input value="radiobutton" type="radio" name="radiobutton" />
               支付宝
               <input value="radiobutton" type="radio" name="radiobutton" />
              易宝			  </td>
           </tr>
         <tr>
           <td valign="top" style="padding-top:3px;">其他方式支付，支付到：</td>
           <td><p>
             <input value="radiobutton" type="radio" name="radiobutton" />
             工商银行宝岗支行，帐号名：张小平，帐号：544646579879898</p>
             <p>
               <input value="radiobutton" type="radio" name="radiobutton" />
               招商银行田心支行，帐号名：刘仁，帐号：465465456456</p>
             <p>
               <input value="radiobutton" type="radio" name="radiobutton" />
              中国银行国贸支行，帐号：林家，帐号：4549879879846865</p></td>
           </tr>
       </table>
	 </div>
   </div>
   <div style="margin:20px; font-weight:normal; text-align:center"><input type="submit" value="更换支付方式" style="margin-left:10px;" class="button"/></div>
   </div>
<!--新闻-->
<!--首页酒店信息-->
<div class="hotel">
</div>
<!--结束首页酒店信息-->
</div>

<!--结束主体--!>